$h-color: #0f5f5c;
.aboutUsTab {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 110px;
}

.benefits {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    margin-top: 98px;
    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 70px;
        .phoneImage {
            margin-bottom: 27px;
        }
        .benefitsName {
            margin-bottom: 24px;
        }
        .benefitsName {
            font-family: RobotoBold;
            font-size: 16px;
            color: #0f5f5c;
        }
        .benefitsText {
            font-family: RobotoBold;
            font-size: 14px;
            text-align: center;
            color: #83a7a5;
        }
    }
    .column:first-child {
        margin-left: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .tabName {
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
    }
    .aboutUsText {
        font-size: 21px;
    }
    .benefits {
        flex-direction: column;
        margin-top: 42px;
        .column {
            margin-left: 0;
            margin-top: 42px;
            .phoneImage {}
            .benefitsName {
                font-size: 23px;
                text-align: center;
            }
            .benefitsText {
                font-size: 20px;
                text-align: center;
            }
        }
        .column:first-child {
            margin-top: 0;
        }
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    .benefits {
        flex-direction: column;
        margin-top: 42px;
        .column {
            margin-left: 0;
            margin-top: 42px;
            .phoneImage {}
            .benefitsName {
                font-size: 23px;
                text-align: center;
            }
            .benefitsText {
                font-size: 20px;
                text-align: center;
            }
        }
        .column:first-child {
            margin-top: 0;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .benefits {
        flex-direction: column;
        margin-top: 42px;
        .column {
            margin-left: 0;
            margin-top: 42px;
            .phoneImage {}
            .benefitsName {
                font-size: 23px;
                text-align: center;
            }
            .benefitsText {
                font-size: 20px;
                text-align: center;
            }
        }
        .column:first-child {
            margin-top: 0;
        }
    }
}