$menu-size: 13px;
$radius: 4px;
$h-color: #0f5f5c;
.headerTextMenuContactUs {
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 5;
    width: 100%;
    .headerMenuContactUs {
        padding: 34px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        .logoAndPhoneContactUs {
            display: flex;
            flex-direction: row;
            align-items: center;
            .greenLogo {
                color: #0f5f5c;
                font-family: "ProximaNova";
                font-weight: bolder;
                font-size: 30px;
                border-right: 2px solid #c1d3d2;
                padding-right: 30px;
                cursor: pointer;
            }
            .phoneImageContactUs {
                width: 17px;
                height: 17px;
                padding-left: 18px;
            }
            .contactNumber {
                font-family: ProximaNova;
                font-size: $menu-size;
                font-weight: bold;
                color: #96b4b2;
                padding-left: 14px;
                cursor: pointer;
            }
        }
        .rightTopMenuContactUs {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-family: ProximaNova;
            font-size: $menu-size;
            font-weight: bold;
            color: #96b4b2;
            .menuElementContactUs {
                margin-left: 30px;
                cursor: pointer;
            }
            .buttonContactUs {
                width: 111px;
                height: 32px;
                background-color: #6fb048;
                box-sizing: border-box;
                font-family: ProximaNova;
                font-size: $menu-size;
                font-weight: bold;
                color: white;
                border-radius: $radius;
                border: none;
            }
            .buttonContactUs:hover {
                border: 2px solid #617676;
            }
            .buttonContactUs:focus {
                outline: none;
            }
        }
        .rightTopMenuContactUs:first-child {
            padding-left: 0;
        }
    }
}

.location {
    background-image: url(../assets/img/mapHeader.png);
    height: 400px;
    position: relative;
}

.getInTouch {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 79px;
    .getInTouchForms {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        margin-top: 90px;
        .getInTouchInputs {
            display: flex;
            flex-direction: column;
            .inputBox {
                width: 512px;
                height: 47px;
                border: 2px solid #c1d3d2;
                margin-bottom: 28px;
                padding-left: 16px;
            }
            .sendMessageButton {
                width: 190px;
                height: 44px;
                background-color: #6fb048;
                box-sizing: border-box;
                font-family: ProximaNova;
                font-size: $menu-size;
                font-weight: bold;
                color: white;
                border-radius: $radius;
                border: none;
            }
        }
        .headquarter {
            display: flex;
            flex-direction: column;
            border: 3px dotted #c1d3d2;
            height: 273px;
            justify-content: center;
            padding: 0 136px 0 36px;
            .headquarterName {
                font-weight: bold;
                font-family: Roboto;
                font-size: 22px;
                color: $h-color;
                margin-bottom: 25px;
            }
            .headquarterAlign {
                display: flex;
                flex-direction: row;
            }
            .lineSecond {
                margin-bottom: 20px;
            }
        }
    }
}

.sms {
    width: 22px;
}

.downloadTabGreyStyle {
    background-image: url(../assets/img/greyCallToAction.png);
    height: 201px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.callToActionGreyStyle {
    font-size: 28px;
    font-family: Roboto;
    color: $h-color;
    font-weight: bolder;
    padding-right: 150px;
}

.callToActionTextGreyStyle {
    font-size: 15px;
}

.buttonDownloadGreyStyle {
    width: 285px;
    height: 43px;
    background-color: #6fb048;
    border: none;
    color: white;
    font-size: 13px;
    border-radius: 3px;
    cursor: pointer;
}

.headquarterGreyStyle {
    font-weight: bold;
    font-family: Roboto;
    font-size: 15px;
    color: #bacdcb;
    margin-left: 15px;
}

.addSpace {
    margin-bottom: 30px;
}

.headquarterItem {
    font-family: Roboto;
    font-weight: bolder;
    font-size: 14px;
    color: #617676;
    margin-left: 15px;
}

.extraPadding {
    margin-left: 30px;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .headerTextMenuContactUs {
        .headerMenuContactUs {
            flex-direction: column;
            .logoAndPhoneContactUs {
                flex-direction: column;
                .greenLogo {
                    padding: 0;
                    border: none;
                }
                .phoneImageContactUs {
                    display: none;
                }
                .contactNumber {
                    display: none;
                }
            }
            .rightTopMenuContactUs {
                flex-direction: column;
                .menuElementContactUs {
                    margin-left: 0;
                    margin-top: 30px;
                    font-size: 18px;
                }
                .buttonContactUs {
                    font-size: 18px;
                    width: 200px;
                    height: 50px;
                }
            }
        }
    }
    .getInTouch {
        flex-direction: column;
        .getInTouchForms {
            flex-direction: column;
            width: 80%;
            .getInTouchInputs {
                align-items: center;
                .inputBox {
                    width: 100%;
                }
                .sendMessageButton {
                    width: 200px;
                    height: 50px;
                    font-size: 18px;
                    margin-bottom: 79px;
                }
            }
            .headquarter {
                height: 100%;
                padding: 40px 0;
                align-items: center;
            }
        }
    }
    .downloadTabGreyStyle {
        flex-direction: column;
        height: 301px;
    }
    .callToActionGreyStyle {
        padding-right: 0;
        text-align: center;
    }
    .buttonDownloadGreyStyle {
        margin-top: 30px;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    .headerTextMenuContactUs {
        .headerMenuContactUs {
            flex-direction: column;
            .logoAndPhoneContactUs {
                flex-direction: column;
                .greenLogo {
                    padding: 0;
                    border: none;
                }
                .phoneImageContactUs {
                    display: none;
                }
                .contactNumber {
                    display: none;
                }
            }
            .rightTopMenuContactUs {
                flex-direction: column;
                .menuElementContactUs {
                    margin-left: 0;
                    margin-top: 30px;
                    font-size: 18px;
                }
                .buttonContactUs {
                    font-size: 18px;
                    width: 200px;
                    height: 50px;
                }
            }
        }
    }
    .getInTouch {
        flex-direction: column;
        .getInTouchForms {
            flex-direction: column;
            width: 80%;
            .getInTouchInputs {
                align-items: center;
                .inputBox {
                    width: 100%;
                }
                .sendMessageButton {
                    width: 200px;
                    height: 50px;
                    font-size: 18px;
                    margin-bottom: 79px;
                }
            }
            .headquarter {
                height: 100%;
                padding: 40px 0;
                align-items: center;
            }
        }
    }
    .downloadTabGreyStyle {
        flex-direction: column;
        height: 301px;
    }
    .callToActionGreyStyle {
        padding-right: 0;
        text-align: center;
    }
    .buttonDownloadGreyStyle {
        margin-top: 30px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .downloadTabGreyStyle {
        flex-direction: column;
        height: 301px;
    }
    .callToActionGreyStyle {
        padding-right: 0;
        text-align: center;
    }
    .buttonDownloadGreyStyle {
        margin-top: 30px;
    }
}

@media screen and (min-width: 641px) and (max-width: 801px) {
    .headerTextMenuContactUs {
        .headerMenuContactUs {
            flex-direction: column;
            .logoAndPhoneContactUs {
                flex-direction: column;
                .greenLogo {
                    padding: 0;
                    border: none;
                }
                .phoneImageContactUs {
                    display: none;
                }
                .contactNumber {
                    display: none;
                }
            }
            .rightTopMenuContactUs {
                flex-direction: column;
                .menuElementContactUs {
                    margin-left: 0;
                    margin-top: 30px;
                    font-size: 18px;
                }
                .buttonContactUs {
                    font-size: 18px;
                    width: 200px;
                    height: 50px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .getInTouch {
        .getInTouchForms {
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            .getInTouchInputs {
                .inputBox {
                    width: 300px;
                }
            }
            .headquarter {
                padding: 0 36px;
            }
        }
    }
}