.bestFeatures {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.greyDecoration {
    background-color: #f2f2f2;
    height: 90px;
    width: 3px;
    margin-top: 34px;
}

.greyLine {
    width: 90px;
    height: 3px;
    background-color: #f2f2f2;
    margin-bottom: 53px;
}

.pluses {
    display: flex;
    flex-direction: row;
    width: 85%;
    .columnPluses,
    .fistColumn {
        display: flex;
        flex-direction: column;
        .plusName {
            display: flex;
            flex-direction: column;
            padding-bottom: 60px;
            .iconsText {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 35px;
                padding-bottom: 20px;
                .imageTitle,
                .free {
                    font-family: RobotoBold;
                    font-weight: bolder;
                    color: #0f5f5c;
                    font-size: 16px;
                    padding-left: 17px;
                }
            }
            .plusesContent {
                font-family: Roboto;
                font-size: 14px;
                color: #83a7a5;
                font-weight: bolder;
            }
        }
    }
}

.fistColumn {
    margin-right: 90px;
}

.link:link,
.link:visited {
    color: #96b4b2;
    text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .pluses {
        flex-direction: column;
        .columnPluses,
        .fistColumn {
            margin-right: 0;
            .plusName {
                align-items: center;
                .iconsText {
                    justify-content: center;
                    width: 70%;
                    .imageTitle,
                    .free {
                        font-size: 20px;
                    }
                }
                .plusesContent {
                    text-align: center;
                    font-size: 18px;
                    font-weight: normal;
                }
            }
        }
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    .pluses {
        flex-direction: column;
        .columnPluses,
        .fistColumn {
            margin-right: 0;
            .plusName {
                align-items: center;
                .iconsText {
                    justify-content: center;
                    width: 70%;
                    .imageTitle,
                    .free {
                        font-size: 20px;
                    }
                }
                .plusesContent {
                    text-align: center;
                    font-size: 18px;
                    font-weight: normal;
                }
            }
        }
    }
}