.downloadTab {
    background-image: url(../assets/img/downloadPic.png);
    height: 201px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    .callToAction {
        font-size: 28px;
        font-family: Roboto;
        color: white;
        font-weight: bolder;
        padding-right: 150px;
    }
    .callToActionText {
        font-size: 15px;
    }
    .buttonDownload {
        width: 285px;
        height: 43px;
        background-color: #49732f;
        border: none;
        color: white;
        font-size: 13px;
        border-radius: 3px;
        cursor: pointer;
    }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .downloadTab {
        flex-direction: column;
        height: 301px;
        .callToAction {
            padding-right: 0;
            text-align: center;
        }
        .buttonDownload {
            margin-top: 30px;
        }
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    .downloadTab {
        flex-direction: column;
        height: 301px;
        .callToAction {
            padding-right: 0;
            text-align: center;
        }
        .buttonDownload {
            margin-top: 30px;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 979px) {
    .downloadTab {
        flex-direction: column;
        height: 301px;
        .callToAction {
            padding-right: 0;
            text-align: center;
        }
        .buttonDownload {
            margin-top: 30px;
        }
    }
}