.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .footerInfo {
        display: flex;
        flex-direction: row;
        width: 73%;
        justify-content: space-between;
        padding-top: 100px;
        padding-bottom: 40px;
        border-bottom: 3px solid #eef1ec;
        .wapik {
            display: flex;
            flex-direction: column;
            .wapikLogo {
                font-family: ProximaNova;
                font-size: 22px;
                color: #0f5f5c;
                font-weight: bolder;
            }
            .mail {
                font-family: Roboto;
                font-weight: bolder;
                font-size: 13px;
                color: #0f5f5c;
            }
            .mailSign {
                color: #c6d5d5;
            }
            .info {
                font-family: Roboto;
                font-size: 13px;
                color: #c6d5d5;
            }
        }
        .company {
            display: flex;
            flex-direction: column;
            .item {
                font-weight: Roboto;
                font-weight: 13px;
                color: #83a7a5;
            }
            .itemBolder {
                color: #0f5f5c;
                font-weight: bolder;
            }
        }
        .newsletters {
            display: flex;
            flex-direction: column;
            .newslettersTitle {
                color: #0f5f5c;
                font-weight: bolder;
                font-weight: 13px;
            }
            .newslettersText {
                font-weight: Roboto;
                font-weight: 13px;
                color: #83a7a5;
            }
        }
        input {
            border-radius: 3px;
            width: 240px;
            height: 36px;
            background-color: #eef1ec;
            border: none;
            padding-left: 16px;
            box-sizing: border-box;
        }
    }
    .socials {
        width: 73%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 28px;
        .rights {
            font-family: Roboto;
            font-size: 12px;
            color: #96b4b2;
            font-weight: bolder;
        }
        .socialLogos {
            display: flex;
            flex-direction: row;
            .position {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 10px;
                .icon1,
                .icon2,
                .icon3,
                .icon4,
                .icon5 {
                    background-color: #55acee;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    position: relative;
                    cursor: pointer;
                }
                .icon2 {
                    background-color: #3b5998;
                }
                .icon3 {
                    background-attachment: #3f729b;
                }
                .icon4 {
                    background-color: #ea4c89;
                }
                .icon5 {
                    background-color: #333333;
                }
                .socialIcon {
                    position: absolute;
                }
            }
        }
    }
}

.wapikLogo,
.itemBolder,
.newslettersTitle {
    padding-bottom: 26px;
}

.wapikLogo,
.info,
.item,
.newslettersText {
    padding-bottom: 18px;
}

input::placeholder {
    font-family: Roboto;
    color: #83a7a5;
    font-weight: 13px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    line-height: 36px;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .footer {
        .footerInfo {
            flex-direction: column;
            text-align: center;
            padding-top: 79px;
            .wapik {
                .wapikLogo {
                    font-size: 30px;
                }
                .info {
                    font-size: 20px;
                }
            }
            .company {
                .item {
                    font-size: 20px;
                }
                .itemBolder {
                    font-size: 30px;
                }
            }
            .newsletters {
                .newslettersTitle {
                    font-size: 30px;
                }
                .newslettersText {
                    font-size: 20px;
                }
            }
            input {
                height: 50px;
            }
            input::placeholder {
                text-align: center;
                font-size: 20px;
            }
        }
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    .footer {
        .footerInfo {
            flex-direction: column;
            text-align: center;
            padding-top: 79px;
            .wapik {
                .wapikLogo {
                    font-size: 30px;
                }
                .info {
                    font-size: 20px;
                }
            }
            .company {
                .item {
                    font-size: 20px;
                }
                .itemBolder {
                    font-size: 30px;
                }
            }
            .newsletters {
                .newslettersTitle {
                    font-size: 30px;
                }
                .newslettersText {
                    font-size: 20px;
                }
            }
            input {
                height: 50px;
            }
            input::placeholder {
                text-align: center;
                font-size: 20px;
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .footer {
        .footerInfo {
            flex-direction: row;
            width: 100%;
            .wapik {
                margin-left: 20px;
                .wapikLogo {
                    font-size: 30px;
                }
                .info {
                    font-size: 20px;
                }
            }
            .company {
                margin-left: 20px;
                .item {
                    font-size: 20px;
                }
                .itemBolder {
                    font-size: 30px;
                }
            }
            .newsletters {
                margin-left: 20px;
                .newslettersTitle {
                    font-size: 30px;
                }
                .newslettersText {
                    font-size: 20px;
                }
            }
        }
    }
}