$h-color: #0f5f5c;
$menu-size: 13px;
$radius: 4px;
@font-face {
    font-family: "ProximaNova";
    src: url("../assets/fonts/ProximaNova-Regular.ttf");
}

@font-face {
    font-family: "RobotoBold";
    src: url("../assets/fonts/Roboto_Bold.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto_Thin.ttf");
}

.tabName {
    font-family: Roboto;
    font-size: 32px;
    color: $h-color;
    padding-bottom: 21px;
    padding-top: 80px;
    font-weight: bolder;
}

.line {
    width: 66px;
    height: 2px;
    background-color: #6fb048;
}

.aboutUsText {
    font-family: RobotoBold;
    font-size: 18px;
    color: #8daeac;
    text-align: center;
    padding-top: 42px;
}

.document {
    width: 100%;
    height: 100%;
    .greenBackground {
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 660px;
        background-color: #2c6466;
        opacity: 70%;
        box-shadow: inset 0px -5px 50px -5px #182727;
    }
    .headerMenu {
        padding-top: 34px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        .logoAndPhone {
            display: flex;
            flex-direction: row;
            align-items: center;
            .logo {
                color: white;
                font-family: "ProximaNova";
                font-weight: bolder;
                font-size: 30px;
                border-right: 2px solid #617676;
                padding-right: 30px;
                cursor: pointer;
            }
            .phoneImage {
                width: 17px;
                height: 17px;
                padding-left: 18px;
            }
            .number {
                font-family: ProximaNova;
                font-size: $menu-size;
                font-weight: bold;
                color: white;
                padding-left: 14px;
                cursor: pointer;
            }
        }
        .rightTopMenu {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-family: ProximaNova;
            font-size: $menu-size;
            font-weight: bold;
            color: white;
            .menuElement {
                margin-left: 30px;
                cursor: pointer;
            }
            .button {
                width: 111px;
                height: 32px;
                background-color: #7d8e8e;
                box-sizing: border-box;
                font-family: ProximaNova;
                font-size: $menu-size;
                font-weight: bold;
                color: white;
                border-radius: $radius;
                border: none;
            }
            .button:hover {
                border: 2px solid #617676;
            }
            .button:focus {
                outline: none;
            }
        }
        .rightTopMenu:first-child {
            padding-left: 0;
        }
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    .tabName {
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
    }
    .aboutUsText {
        font-size: 21px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .tabName {
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
    }
    .aboutUsText {
        font-size: 21px;
    }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .document {
        .headerMenu {
            flex-direction: column;
            .logoAndPhone {
                flex-direction: column;
                .logo {
                    padding: 0;
                    border: none;
                }
                .phoneImage {
                    display: none;
                }
                .number {
                    display: none;
                }
            }
            .rightTopMenu {
                flex-direction: column;
                .menuElement {
                    margin-left: 0;
                    margin-top: 30px;
                    font-size: 18px;
                }
                .button {
                    font-size: 18px;
                    width: 200px;
                    height: 50px;
                }
            }
        }
    }
}

@media screen and (min-width: 641px) and (max-width: 879px) {
    .document {
        .headerMenu {
            flex-direction: column;
            .logoAndPhone {
                flex-direction: column;
                .logo {
                    padding: 0;
                    border: none;
                }
                .phoneImage {
                    display: none;
                }
                .number {
                    display: none;
                }
            }
            .rightTopMenu {
                flex-direction: column;
                .menuElement {
                    margin-left: 0;
                    margin-top: 30px;
                    font-size: 18px;
                }
                .button {
                    font-size: 18px;
                    width: 200px;
                    height: 50px;
                }
            }
        }
    }
}