$menu-size: 13px;
$radius: 4px;
.startButton {
    width: 230px;
    height: 50px;
    background-color: #6fb048;
    color: white;
    border-radius: $radius;
    border: none;
    box-sizing: border-box;
    font-family: ProximaNova;
    font-size: $menu-size;
    font-weight: bold;
    cursor: pointer;
}

.startButton:focus {
    outline: none;
}

.startButton:hover {
    border: 2px solid #617676;
}

.background {
    position: relative;
    width: 100%;
    height: 660px;
    background-image: url('../assets/img/bgImage.png');
}

.headerTextContactUS {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    width: 100%;
}

.heading {
    color: white;
    font-family: Roboto;
    font-size: 50px;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 43px;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .heading {
        padding-top: 0;
        font-size: 35px;
        margin-top: 30px;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    .heading {
        padding-top: 0;
        font-size: 35px;
        margin-top: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 879px) {
    .heading {
        padding-top: 0;
        font-size: 45px;
        margin-top: 30px;
    }
}