$menu-size: 13px;
$radius: 4px;
.headerText {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    width: 100%;
}

.headerTextAlign {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 223px;
    padding-left: 190px;
    .headTitle {
        color: white;
        font-family: Roboto;
        font-size: 38px;
        font-weight: bolder;
        padding-bottom: 23px;
    }
    .headSubtitle {
        color: white;
        font-family: Roboto;
        font-size: 16px;
        font-weight: bolder;
        padding-bottom: 23px;
    }
    .learnMoreButton {
        width: 230px;
        height: 50px;
        background-color: #6fb048;
        color: white;
        border-radius: $radius;
        border: none;
        box-sizing: border-box;
        font-family: ProximaNova;
        font-size: $menu-size;
        font-weight: bold;
        cursor: pointer;
    }
}

.learnMoreButton:focus {
    outline: none;
}

.learnMoreButton:hover {
    border: 2px solid #617676;
}

.backgroundHome {
    position: relative;
    width: 100%;
    height: 660px;
    background-image: url("../assets/img/homeBackground.png");
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .headerTextAlign {
        padding: 0;
        align-items: center;
        text-align: center;
        .headTitle {
            margin-top: 30px;
        }
        .headSubtitle {
            font-size: 18px;
        }
        .learnMoreButton {
            width: 200px;
            height: 50px;
            font-size: 18px;
        }
    }
}

@media screen and (min-width: 641px) and (max-width: 879px) {
    .headerTextAlign {
        padding: 0;
        align-items: center;
        text-align: center;
        .headTitle {
            margin-top: 30px;
        }
        .headSubtitle {
            font-size: 18px;
        }
        .learnMoreButton {
            width: 200px;
            height: 50px;
            font-size: 18px;
        }
    }
}