$greenLight: #93b2af;
.perfectTemplate {
    width: 100%;
    background-color: #eef1ec;
    display: flex;
    flex-direction: column;
    align-items: center;
    .responsiveReady {
        padding-top: 25px;
        display: flex;
        flex-direction: row;
        .responsiveImgSize {
            height: 487px;
            overflow: hidden;
            position: relative;
            left: -50px;
        }
        .responsiveColumn {
            padding-top: 140px;
            .responsiveName {
                color: #0f5f5c;
                font-size: 32px;
                font-family: Roboto;
                font-weight: bolder;
            }
            .responsiveText {
                color: $greenLight;
                font-size: 14px;
                font-family: Roboto;
                font-weight: bolder;
                padding-top: 25px;
            }
            .responsivePosition {
                padding-top: 25px;
                display: flex;
                flex-direction: row;
                align-items: center;
                .responsiveSubtitle {
                    color: $greenLight;
                    font-size: 14px;
                    font-family: Roboto;
                    font-weight: bolder;
                    padding-left: 13px;
                    padding-top: 0;
                }
            }
        }
    }
}

.directerOfAcme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 141px 0;
    .quote {
        font-size: 22px;
        font-family: Roboto;
        font-weight: bolder;
        color: $greenLight;
        margin-bottom: 75px;
    }
    .dirName {
        font-size: 14px;
        font-family: Roboto;
        font-weight: bolder;
        color: #86bb69;
        padding-bottom: 12px;
    }
    .author {
        font-size: 14px;
        font-family: Roboto;
        font-weight: bolder;
        color: $greenLight;
        margin-bottom: 30px;
    }
    .face {
        width: 399px;
        height: 399px;
        border-radius: 50%;
        overflow: hidden;
        margin-left: 131px;
        .directorImage {
            margin-left: -90px;
        }
    }
}

.mapSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #eef1ec;
    padding: 60px 0;
    .mapSectionTitle {
        font-size: 22px;
        font-family: RobotoBold;
        color: #0f5f5c;
        margin-bottom: 23px;
    }
    .mapSectionText {
        font-size: 14px;
        font-family: Roboto;
        font-weight: bolder;
        color: $greenLight;
    }
    .map {
        padding-left: 64px;
    }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .perfectTemplate {
        .responsiveReady {
            flex-direction: column;
            .responsiveImgSize {
                width: 320px;
                left: 0;
                height: 100%;
                .responsiveImg {
                    width: 100%;
                    ;
                }
            }
            .responsiveColumn {
                text-align: center;
                padding: 0 20px 20px;
                .responsiveText {
                    font-size: 20px;
                }
                .responsivePosition {
                    .responsiveSubtitle {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .mapSection {
        flex-direction: column;
        .mapSectionTitle {
            text-align: center;
            font-size: 25px;
        }
        .mapSectionText {
            text-align: center;
            font-size: 20px;
            margin-bottom: 25px;
        }
        .map {
            width: 100%;
            padding-left: 0;
        }
    }
    .directerOfAcme {
        flex-direction: column;
        padding: 80px 0;
        .quote {
            text-align: center;
            padding-top: 40px;
        }
        .dirName {
            text-align: center;
            font-size: 20px;
            margin-bottom: 30px;
        }
        .author {
            text-align: center;
        }
        .face {
            width: 320px;
            height: 320px;
            margin-left: 0;
            .directorImage {
                margin-left: -135px;
            }
        }
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    .perfectTemplate {
        .responsiveReady {
            flex-direction: column;
            .responsiveImgSize {
                width: 320px;
                left: 0;
                height: 100%;
                .responsiveImg {
                    width: 100%;
                    margin-left: -60px;
                    ;
                }
            }
            .responsiveColumn {
                text-align: center;
                padding: 0 20px 20px;
                .responsiveText {
                    font-size: 20px;
                }
                .responsivePosition {
                    .responsiveSubtitle {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .mapSection {
        flex-direction: column;
        .mapSectionTitle {
            text-align: center;
            font-size: 25px;
        }
        .mapSectionText {
            text-align: center;
            font-size: 20px;
            margin-bottom: 25px;
        }
        .map {
            width: 100%;
            padding-left: 0;
        }
    }
    .directerOfAcme {
        flex-direction: column;
        padding: 80px 0;
        .quote {
            text-align: center;
            padding-top: 40px;
        }
        .dirName {
            text-align: center;
            font-size: 20px;
            margin-bottom: 30px;
        }
        .author {
            text-align: center;
            font-size: 20px;
        }
        .face {
            width: 320px;
            height: 320px;
            margin-left: 0;
            .directorImage {
                margin-left: -135px;
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .perfectTemplate {
        .responsiveReady {
            .responsiveImgSize {
                width: 100%;
                height: 100%;
                .responsiveImg {
                    margin-left: -60px;
                }
            }
            .responsiveColumn {
                padding-top: 100px;
                .responsiveText {
                    font-size: 18px;
                }
                .responsivePosition {
                    .responsiveSubtitle {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .mapSection {
        flex-direction: column;
        .mapSectionTitle {
            text-align: center;
            font-size: 25px;
        }
        .mapSectionText {
            text-align: center;
            font-size: 20px;
            margin-bottom: 25px;
        }
        .map {
            width: 100%;
            padding-left: 0;
        }
    }
    .directerOfAcme {
        flex-direction: column;
        padding: 80px 0;
        .quote {
            text-align: center;
            padding-top: 40px;
        }
        .dirName {
            text-align: center;
            font-size: 20px;
            margin-bottom: 30px;
        }
        .author {
            text-align: center;
            font-size: 20px;
        }
        .face {
            width: 320px;
            height: 320px;
            margin-left: 0;
            .directorImage {
                margin-left: -135px;
            }
        }
    }
}