$h-color: #0f5f5c;
.pricingTabName {
    font-family: Roboto;
    font-size: 32px;
    color: $h-color;
    padding-bottom: 21px;
    padding-top: 80px;
    font-weight: bolder;
    text-align: center;
}

.pricingAboutUsText {
    font-family: RobotoBold;
    font-weight: 18px;
    color: #8daeac;
    text-align: center;
}

.limitedTimeOffer {
    padding-top: 30px;
}