.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plan {
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding-top: 44px;
    .typeOfPlan {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 24px;
        border: 2px solid #c1d3d2;
        .planName {
            color: #6fb048;
            font-size: 15px;
            font-family: RobotoBold;
        }
        .price {
            color: #0f5f5c;
            font-size: 65px;
            font-family: RobotoBold;
        }
        .period {
            color: #0f5f5c;
            font-size: 14px;
            font-family: RobotoBold;
            margin-bottom: 28px;
        }
        .planList {
            color: #8daeac;
            font-size: 14px;
            font-family: RobotoBold;
            margin-bottom: 18px;
        }
        .selectPlanButton {
            width: 140px;
            height: 42px;
            border-radius: 3px;
            border: none;
            background-color: #83a7a5;
            font-size: 13px;
            font-family: RobotoBold;
            color: white;
        }
        .selectPlanButton:hover {
            background-color: #6fb048;
        }
    }
    .typeOfPlan {
        border-right: none;
    }
    .lastChild {
        border-right: 2px solid #c1d3d2;
    }
}

.included {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .includedColumn {
        display: flex;
        flex-direction: row;
        padding-top: 34px;
        .includedContent {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 122px;
            .includedLine {
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: row;
                padding-bottom: 11px;
                .includedText {
                    padding-left: 12px;
                    font-family: RobotoBold;
                    font-size: 14px;
                    color: #477a78;
                    font-weight: bold;
                }
            }
        }
        .firstColumn {
            padding-left: 0;
        }
    }
}

.needHelp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .changeColor {
        color: #6fb048;
        font-family: Roboto;
        font-size: 32px;
        font-weight: bolder;
        padding-bottom: 22px;
    }
    .greenCircle {
        width: 42px;
        height: 42px;
        padding-top: 56px;
        padding-bottom: 22px;
    }
    .needHelpEmail {
        font-size: 18px;
        padding-bottom: 100px;
        padding-top: 42px;
        color: #477a78;
        font-family: RobotoBold;
    }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .plan {
        flex-direction: column;
        .typeOfPlan {
            border-right: 2px solid #c1d3d2;
        }
    }
    .included {
        .includedColumn {
            flex-direction: column;
            .includedContent {
                padding-left: 0;
                .includedLine {
                    .includedText {
                        font-size: 17px;
                    }
                }
            }
            .firstColumn {}
        }
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    .plan {
        .typeOfPlan {
            border-right: 2px solid #c1d3d2;
        }
    }
    .included {
        .includedColumn {
            flex-direction: column;
            .includedContent {
                padding-left: 0;
                .includedLine {
                    .includedText {
                        font-size: 17px;
                    }
                }
            }
            .firstColumn {}
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .plan {
        .typeOfPlan {
            border-right: 2px solid #c1d3d2;
        }
    }
    .included {
        .includedColumn {
            flex-direction: column;
            .includedContent {
                padding-left: 20px;
                .includedLine {
                    .includedText {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}