.team {
    background-color: #eef1ec;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 122px;
    .people {
        margin-top: 114px;
        display: flex;
        flex-direction: row;
        .personProfession {
            margin-left: 42px;
            .person {
                width: 299px;
                height: 181px;
                overflow: hidden;
                margin-bottom: 19px;
            }
            .personName {
                color: #0f5f5c;
                font-family: RobotoBold;
                font-size: 15px;
                margin-bottom: 11px;
            }
            .profession {
                font-family: Roboto;
                font-size: 14px;
                color: #8bacaa;
                font-weight: bolder;
            }
        }
        .personProfession:first-child {
            margin-left: 0;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .team {
        padding-bottom: 100px;
        .people {
            flex-direction: column;
            .personProfession {
                margin-left: 0;
                margin-bottom: 30px;
                .person {
                    width: 100%;
                }
                .personName {}
                .profession {
                    margin-bottom: 30px;
                }
            }
            .personProfession:first-child {}
        }
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    .team {
        .people {
            flex-direction: column;
            .personProfession {
                margin-left: 0;
                margin-bottom: 30px;
                .person {
                    width: 100%;
                }
                .personName {}
                .profession {
                    margin-bottom: 30px;
                }
            }
            .personProfession:first-child {}
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .team {
        .people {
            flex-direction: column;
            .personProfession {
                margin-left: 0;
                margin-bottom: 30px;
                .person {
                    width: 100%;
                }
                .personName {}
                .profession {
                    margin-bottom: 30px;
                }
            }
            .personProfession:first-child {}
        }
    }
}